---
import { Image } from "astro:assets";
import videoHighLogo from "../images/video-high-logo.png";
import SocialButton from "../components/SocialButton.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Video High - {pageTitle}</title>
  </head>
  <body>
    <header class="mb-8 bg-slate-900 py-4">
      <div class="md:hidden mx-auto max-w-prose flex">
        <a class="mx-auto" href="/">
          <Image src={videoHighLogo} alt="Video High" height={100} />
        </a>
      </div>
      <div
        class="hidden md:flex mx-auto max-w-prose justify-between items-center"
      >
        <a href="/">
          <Image src={videoHighLogo} alt="Video High" height={150} />
        </a>
        <div class="flex flex-col gap-4">
          <ul class="flex gap-4 items-center">
            <li>
              <SocialButton
                href="https://www.instagram.com/videohighpodcast"
                icon="/icons/instagram.svg"
                text="Instagram"
              />
            </li>
            <li>
              <SocialButton
                href="https://www.tiktok.com/@videohighpodcast"
                icon="/icons/tiktok.svg"
                text="TikTok"
              />
            </li>
          </ul>
          <ul class="flex gap-4 items-center">
            <li>
              <SocialButton
                href="https://podcasts.apple.com/us/podcast/video-high/id1516093740?itsct=podcast_box&itscg=30200&ls=1"
                icon="/icons/apple.svg"
                text="Apple"
              />
            </li>
            <li>
              <SocialButton
                href="https://podcasters.spotify.com/pod/show/videohigh"
                icon="/icons/spotify.svg"
                text="Spotify"
              />
            </li>
            <li>
              <SocialButton
                href="https://soundcloud.com/upinyourearpodcastnetwork/sets/video-high"
                icon="/icons/soundcloud.svg"
                text="SoundCloud"
              />
            </li>
          </ul>
        </div>
      </div>
    </header>
  </body>
  <slot />
</html>
